@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f7f8fc;
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
    width: 940px;
    max-width: 100%;
    margin: auto;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0, 2px, 20px rgba(red, green, blue, alpha);
    width: 300px;
    overflow: hidden;
}

.card-header img{
    object-fit:cover;
    height: 200px;
    width: 100px;

}

.card-body{
    display:flex ;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    min-height: 250px;
}

.card-body h4{
    margin: 10px 0;
    
}